*{
    margin: 0;
    padding: 0;
}

:root{

    /* Fonts */
    --font-one: "Inter", sans-serif;

    /* Color */
    --colorOne: #00A86B;
    --colorTwo: #000000;
}

/* NAVBAR */

nav {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 10px 30px;
    background-color: var(--colorOne);
  
}

.logo {
    width: 150px;
}

.menu {
    list-style: none;
    display: flex;
    gap: 20px;
}

.menu a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-family: var(--font-one);
    font-size: 1.5rem;
    transition: 0.3s;
}

.menu a:hover {
    color: var(--colorTwo);
}


/* SIDEBAR */
.sidenav {
  height: 100%;
  width: 100px;
  position: fixed;
  top: 10;
  left: 0;
  background-color: var(--colorOne);
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: var(--colorTwo);
  display: block;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.main {
  margin-left: 160px; 
  font-size: 28px; 
  padding: 0px 10px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

/* FOOTER */

.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: red;
   color: white;
   text-align: center;
}
